/* ______________________F O N T S_______________________ */

/* #region FONTS */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* #endregion FONTS */




/* #region */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --Black: #000;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: url(../img/back1.svg);
  background-position: center;
  overflow-y: clip;
  overflow-x: clip;
}

ul, li, a, p, span, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

/* #endregion */




/* _____________________H E A D E R______________________ */

/* #region HEADER */
.head {
  padding: 35px 0;
}

.head .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head .logo {
  display: flex;
  gap: 15px;
  align-items: center;
}

.head h4 {
  color: #FF2B51;
}

.head .text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: end;
  color: #FF2B51;
}

.img .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  padding: 20px;
  width: 100%;
  position: sticky;
  top: 130px;
}

.img .container {
  max-width: 360px;
  max-height: 360px;
  border: 15px solid #ef173e;
  border-radius: 50%;
  padding: 0;
  overflow: hidden;
  box-shadow: 0px 0px 20px 5px #ef173e;
}

.img .container img {
  width: 100%;
}

.social .container,
.projects .container {
  padding: 0;
}

.d-flex {
  padding: 15px 0;
  justify-content: space-between;
}

.projects .dropdown-list a svg path {
  transition: all 0.3s;
}

.projects .dropdown-list a:hover svg path {
  fill: #FFf;
}

.social .dropdown ul,
.projects .dropdown ul {
  overflow-y: scroll;
  height: 165px;
}

.social .dropdown ul::-webkit-scrollbar,
.projects .dropdown ul::-webkit-scrollbar {
  width: 0px;
}

.projects .dropdown .dropdown-btn {
  width: 160px;
  height: 50px;
  padding: 0 24px;
  background-color: #fff;
  border: 2px solid #FF2B51;
  color: #FF2B51;
  font-size: 18px;
  font-weight: 500;
  border-radius: 4px;
  margin-bottom: 4px;
  cursor: pointer;
  outline: none;
  transition: all ease-in-out 0.3s;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.projects .dropdown .dropdown-btn::after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23FF2B51'%3E%3Cpath d='M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 24px;
  height: 24px;
}

.projects .dropdown .dropdown-btn:hover:after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23e8eaed'%3E%3Cpath d='M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z'/%3E%3C/svg%3E");
}

.projects .dropdown .dropdown-btn:hover {
  background-color: #FF2B51;
  color: #fff;
}

.projects .dropdown .dropdown-btn:focus {
  background-color: #FF2B51;
  color: #fff;
}

.projects .dropdown .dropdown-btn:focus:after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23FFFFFF'%3E%3Cpath d='M480-528 296-344l-56-56 240-240 240 240-56 56-184-184Z'/%3E%3C/svg%3E");
}

.projects .dropdown-list a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FF2B51;
}

.projects .dropdown-list a span {
  margin-left: 10px;
}

.projects .dropdown .dropdown-list {
  display: none;
  position: absolute;
  list-style: none;
  padding: 4px 0 0 0;
  flex-direction: column;
  gap: 4px;
  box-shadow: var(--shadow-gray);
  border-radius: 4px;
}

.projects .dropdown .dropdown-item {
  text-decoration: none;
  color: #FF2B51;
  padding: 0 8px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  width: 160px;
  height: 50px;
  white-space: nowrap;
  justify-content: space-between;
  align-items: center;
  transition: all ease-in-out 0.3s;
  font-size: 17px;
  font-weight: 500;
  background-color: #fff;
  border: 2px solid #FF2B51;
}

.projects .dropdown .dropdown-item:hover {
  background-color: #FF2B51;
  color: #fff;
}

.projects .dropdown .dropdown-btn:focus + .dropdown-list {
  display: flex;
}

.projects .dropdown .dropdown-list:hover {
  display: flex;
}









.social .dropdown-list a svg path {
  transition: all 0.3s;
}

.social .dropdown-list a:hover svg path {
  fill: #FFf;
}

.social .dropdown {
  position: relative;
}

.social .dropdown .dropdown-btn {
  width: 100px;
  height: 50px;
  padding: 0 8px;
  background-color: #fff;
  border: 2px solid #FF2B51;
  color: #FF2B51;
  font-size: 18px;
  font-weight: 500;
  border-radius: 4px;
  margin-bottom: 4px;
  cursor: pointer;
  outline: none;
  transition: all ease-in-out 0.3s;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.social .dropdown .dropdown-btn::after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23FF2B51'%3E%3Cpath d='M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 24px;
  height: 24px;
}

.social .dropdown .dropdown-btn:hover:after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23e8eaed'%3E%3Cpath d='M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z'/%3E%3C/svg%3E");
}

.social .dropdown .dropdown-btn:hover {
  background-color: #FF2B51;
  color: #fff;
}

.social .dropdown .dropdown-btn:focus {
  background-color: #FF2B51;
  color: #fff;
}

.social .dropdown .dropdown-btn:focus:after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23FFFFFF'%3E%3Cpath d='M480-528 296-344l-56-56 240-240 240 240-56 56-184-184Z'/%3E%3C/svg%3E");
}

.social .dropdown-list a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FF2B51;
}

.social .dropdown-list a span {
  margin-left: 10px;
}

.social .dropdown .dropdown-list {
  display: none;
  position: absolute;
  list-style: none;
  padding: 4px 0 0 0;
  flex-direction: column;
  gap: 4px;
  box-shadow: var(--shadow-gray);
  border-radius: 4px;
}

.social .dropdown .dropdown-item {
  text-decoration: none;
  color: #FF2B51;
  padding: 0 8px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  width: 100px;
  height: 50px;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 0.3s;
  font-size: 17px;
  font-weight: 500;
  background-color: #fff;
  border: 2px solid #FF2B51;
}

.social .dropdown .dropdown-item:hover {
  background-color: #FF2B51;
  color: #fff;
}

.social .dropdown .dropdown-btn:focus + .dropdown-list {
  display: flex;
}

.social .dropdown .dropdown-list:hover {
  display: flex;
}


@media (max-width: 845px) {



}

@media (max-width: 534px) {

  

}


/* #endregion HEADER */